@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.header-intro {
  display: flex;
  justify-content: center;
}

.header-intro h1 {
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
}

.header-leaf {
  width: 10%;
}
