@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.header-intro {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.header-intro h1 {
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
}

.header-leaf {
  width: 10%;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-input {
  width: 8rem;
  border: 1.5px solid;
}

.search-bar button {
  width: 3rem;
  border-radius: 3rem;
}
